.background {
    /* background-image: url("../images/conference.JPG"); */
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 0;
    margin: auto 0;
    height: 600px;
    z-index:0;
}

#index-body {
    font: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    background-size: cover;
    z-index:1;
}

.container {
    background-color: #d5ddfd;
    padding-top: 10px;
    margin-top:0px;	
    margin-left:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 530px;
    height: 185px;
    float: left;
    z-index:2;		
}
 
.container h2 {
    color: #4537c2;    
}

#intro {
    float: left;
    padding-left: 5px;
    width: 20%;
    text-align: center;
}  

#main-bio {
    float: left;
    margin-left: 50px;
    margin-top: 0;
    width: 70%;
    text-align: center;
}  
#bio-image {
    float: left;
    width: 150px;
    border-radius: 10px;
}   